.playlist-container {
    width:100vw;
    height:auto;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;

    h3 {
        width: 297px;
        margin-top: 15px;
        margin-bottom: 25px;
    }
}