.profile-container {
width:100vw;
display:flex;
justify-content: center;
}
.text{
   font-weight: 600;
   display:flex;
   justify-content:center;
   padding-top:2rem;
}
.profile-image{
    padding:5rem;
}
.picture-form{
    width:100px;
    background-color:red;
    padding-top:3rem;
}
 
