.profile-container {
width:100vw;
height:100vh;
justify-content: center;
display:flex;
    .navbar{
        padding-top:290px;
    }
    .user {
        padding-top: 24px;
        font-size: 28px;
        font-weight: 700;
        display: flex;
        justify-content: center;
    }
    .text{
        width: 297px;
        display: flex;
        justify-content: left;
        padding: 16px 0 0px 0;
        font-weight: 600;

        p {
            font-weight: 700;
        }
    }
}

 
