//font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

/* weights
    400 -> regular
    500 -> medium
    700 -> bold
    900 -> black
*/

@import './pages/Main/main.scss';

.App {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    color: #f5f5f5; //off-white
    background-color: #050505;
}

h1 {
    font-size: 2em;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
}

h3 {
    font-size: 1.17em;
    font-weight: 700;
}

h4 {
    font-size: 1.12em;
    font-weight: 700;
}

h5 {
    font-size: 0.83em;
    font-weight: 400;
}

h6 {
    font-size: 0.75em;
    font-weight: 400;
}

p {
    font-size: 1em;
    font-weight: 400;
}