.as-container {
    margin: 0 auto;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.as-songCont {
    background-color: #121212;
    border-radius: 15px;
    padding: 15px 0px;
    min-width: 321px;
    max-width: 321px;
    max-height: 50vh;
    position: absolute;
    top: 107px;
    overflow-y: scroll;
}

.as-songCont::-webkit-scrollbar {
    display: none;
}

.pa-btnCont {
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: absolute;
    bottom: 50px;
}
