.pa-container {
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    //gap: 100px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/*
.search-full {
    min-width: 321px;
    min-height: 32px;
    max-width: 321px;
    max-height: 32px;
    border: none;
    background-color: #423F46;
    color: #F5F5F5;
    opacity: 1;
    font-style: italic;
}
*/

.songCont {
    background-color: #121212;
    border-radius: 15px;
    padding: 35px 0px;
    min-width: 321px;
    max-width: 321px;
    position: absolute;
    top: 107px;
}

.songCont p {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 45px;
    text-align: center;
}

.pa-btnCont {
    position: absolute;
    bottom: 75px;
    display: flex;
    justify-content: space-between;
    min-width: 275px;
}